*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    transition: 0.25s ease-in;
    user-select: none;
    :focus{
        outline: none;
    }
}
body{
    display: flex;
    justify-content: center;
}
.light-theme{
    background-color: white;
    color: black;
}
.dark-theme{
    background-color: #252525;
    color: white;
}
content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

header{
    width: 750px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 25px;
    >div{
        font-size: 26px;
    }
}

#headTitle{
    width: 122px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input, #vipad, #theme,#addListButton,#inputNote, #cansel, #apply, .changeInputText{
    box-shadow: 0px 0px 4px #6C63FF;
    border: 0px #6b63ff00;
    box-sizing: border-box;
}

#underHeadPanel{
    width: 750px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    #input{
        border: 1px #6C63FF solid;
        box-sizing: border-box;
        border-radius:5px;
        width: 595px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        padding: 8px 8px 8px 16px;
    }
    input{
        width: 100%;
        font-size: 16px;
        text-transform: none;
        border: none;
    }
    input.light-theme:focus{
        color: #6C63FF;
    }
    *:focus{
        outline: none;
    }
    input::placeholder{
        color:#C3C1E5;
        text-transform: none;
        font-size: 16px;
    }


    button{
        width: 38px;
        height: 38px;
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        >div{
            width: 21px;
            height: 21px;
            background-image: url(img/lupa.svg);
            background-repeat: no-repeat;
        }
    }

    #theme, #vipad{
        background-color: #6C63FF;
        border-radius: 5px;
    }

    #vipad{
        width: 85px;
        height: 38px;
        font-size: 18px;
        color: white;
        >*{
            background-color: white;
            color: #6b63ff;
            text-transform: capitalize;
            font-size: 18px;
        }
    }

    #theme{
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 22px;
            height: 22px;
            background-image: url(img/moon.svg);
            background-repeat: no-repeat;
        }
    }
    #theme:hover, #vipad:hover{
        background-color: #534CC2;
        border: 1px solid #6b63ff;
    }
}

main{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#emptyList{
    width: 221px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#detective{
    width: 221px;
    height: 174px;
    background-image: url(img/detective.svg);
}
.list{
    width: 525px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom: 1px #6C63FF solid;
    .checkAndNote{
        display: flex;
        gap:20px;
    }
    .checkbox{
        width: 26px;
        height: 26px;
        border: 1px #6C63FF solid;
        box-sizing: border-box;
        accent-color: #6C63FF;
    }
    .checkbox:hover{
        accent-color: #6C63FF;
    }
    .changeInputText{
        width: 420px;
        height: 26px;
        border: 1px #6C63FF solid;
        border-radius: 5px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .textInput{
        width: 400px;
        height: 20px;
        font-size: 20px;
        border: none;
        background: none;
        color: #6b63ff;
    }
    .textInput:focus{
        outline: none;
    }
    .listName{
        /* width: 390px; */
        height: 20px;
        font-size: 20px;
    }
    .listBtns{
        width: 62px;
        height: 18px;
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 10px;
        >*{
            background-repeat: no-repeat;
        }
        .pen{
            width: 18px;
            height: 18px;
            background-image: url(img/pen.svg);
        }
        .pen:hover{
            background-image: url(img/penHovered.svg);
        }
        .trashCan{
            width: 18px;
            height: 18px;
            background-image: url(img/trash.svg);
        }
        .trashCan:hover{
            background-image: url(img/trashCanHovered.svg);
        }
    }
}
.undoPanel{
    width: 123px;
    height: 36px;
    border: 1px solid #6C63FF;
    background-color: #534CC2;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transform: scaleX(0);
}
.undoPanel:hover{
    background-color: #6C63FF;
    box-shadow: 0px 0px 4px #6C63FF;
    border: 0px #6b63ff00;
    box-sizing: border-box;
}
.counter{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 25px;
}
.undoText{
    display: flex;
    gap: 2px;
    >div{
        font-family: Arial, Helvetica, sans-serif;
    };
}
.undoImg{
    width: 15px;
    height: 14px;
    background-image: url(img/undoArrow.svg);
}
.list:last-child{
    border: none;
}

#addListPanel{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: -1;
}
#buttonPos{
    display: flex;
    justify-content: end;
    width: 750px;
}
#addListButton{
    width: 50px;
    height: 50px;
    background-color: #6C63FF;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(-24px);
    >div{
        width: 24px;
        height: 24px;
        background-image: url(img/plus.svg);
    }
}
#addListButton:hover{
    background-color: #534CC2;
    border: 1px solid #6b63ff;
}
#panelAddList{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
}
#panel{
    flex-wrap: wrap;
    width: 500px;
    height: 289px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#inner-panel{
    width: 440px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    #first{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-content: center;
        gap: 20px;
        #NewNote{
            height: 24px;
            display: flex;
            justify-content: center;
            font-size: 24px;
        }
    }
    #second{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #second>*{
        height: 38px;
        font-size: 18px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        border: 1px #6C63FF solid;
        box-sizing: border-box;
        border-radius:5px;
        width: 440px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        padding: 8px 8px 8px 16px;
    }
    input::placeholder{
        color:#C3C1E5;
        text-transform: none;
        font-size: 16px;
    }
}
#cansel{
    width: 110px;
    border: 1px #6C63FF solid;
    box-sizing: border-box;
    color: #6C63FF;
}
#apply{
    width: 97px;
    background-color: #6C63FF;
    color: white;
}